@use 'variaveis' as *;
@use 'mixins' as *;

.sobre {
    p {
        font-size: 1.125rem;
    }

    .icon-list {
        list-style: none;
        padding: 0;

        li {
            font-size: 1.125rem;
            margin-bottom: 0.75rem;
            color: $primary-color;

            strong {
                color: $tertiary-color;
            }

            &::before {
                content: "✓";
                color: $secondary-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }
    }
}